* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-color);
    padding: 0 50px;
    height: var(--header-height);
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header__logo-name {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__logo {
    width: 40px;
}

.header__logo-img {
    width: 100%;
    height: 100%;
}

.header__name {
    color: var(--text-color);
    margin-left: 10px;
    font-size: 150%;
    font-weight: 600;
}

.header__nav ul {
    display: flex;
}

.header__nav-list {
    list-style: none;
}

.header__nav-list > a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    padding: 38.4px 25px;
    transition: 0.1s ease-out;
    font-size: 110%;
}

.header__nav-list a:hover {
    color: var(--nav-hover-color);
    background-color: var(--white-color);
}

.header__icon {
    display: flex;
    column-gap: 10px;
}

.header__icon-logo {
    width: 50px;
    height: 50px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 10px;
    color: var(--text-color);
}

.header__icon-bar {
    font-size: 25px;
    color: var(--text-color);
    display: none;
}

.nav__tablet {
    display: none;
}

/* Responsive */
@media screen and (max-width: 992px) {
    /* .header {
        box-shadow: none;
    } */
    
    .header__logo-name {
        display: none;
    }
    
    .header__nav {
        display: none;
    }

    .header__icon {
        display: none;
    }

    .nav__tablet {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .nav__tablet-icon-main > i {
        font-size: 25px;
        cursor: pointer;
    }

    .nav__tablet-logo-name {
        display: flex;
        align-items: center;
    }

    .nav__tablet-logo {
        width: 40px;
    }

    .nav__tablet-logo-img {
        width: 100%;
        height: 100%;
    }

    .nav__tablet-name {
        color: var(--text-color);
        margin-left: 10px;
        font-size: 150%;
        font-weight: 600;
    }

    .nav__tablet-icon-main {
        position: relative;
    }

    .nav__tablet-overlay {
        position: absolute;
        inset: 0;
        background-color: #14191e61;
    }

    .nav__tablet-main {
        position: absolute;
        transition: 0.2s linear;
        right: -50px;
        top: -37px;
        transform: translateX(100%);
    }

    .nav__tablet-icon-main:active > .nav__tablet-main {
        transform: translateX(0%);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    } 

    .nav__tablet-main ul li {
        background-color: var(--header-color);
        padding: 25px;
        color: var(--text-color);
        width: 300px;
    }

    .nav__tablet-main ul li a {
        color: var(--text-color);
    }

    .nav__tablet-main ul li:nth-child(6) {
        padding: 0;
    }

    .nav__tablet-social-list {
        display: flex;
    }
}
/* End Responsive */

/* Part 1 */
.main__container-part-1 {
    width: 100%;
    position: relative;
    margin-top: var(--header-height);
    height: var(--part-1-height);
}

.main__container-background {
    width: 100%;
    height: var(--part-1-height);
}

.main__container-background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main__container-background-blur{
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    opacity: 0.5;
    position: absolute;
    top: 0;
    z-index: 1;
}
.main__container-description {
    margin: 125px 0;
    position: absolute;
    color: var(--white-color);
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.main__container-description > h2 {
    font-size: 300%;
    margin-top: -20px;
}

.main__container-description > h3 {
    font-size: 110%;
}

.main__container-description > p {
    max-width: 500px;
    color: var(--lorem-color);
    display: inline-block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 110%;
}

.main__container-btn {
    display: flex;
    column-gap: 20px;
}

.main__container-btn-a {
    display: inline-block;
    padding: 20px 44px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--black-color);
    font-weight: 600;
    border-radius: 5px;
    transition: 0.3s ease-in;
}

.main__container-btn-a:hover {
    background-color: var(--white-color);
}

.main__container-btn-a:nth-child(2) {
    background-color: transparent;
    border: 2px solid #464646;
    color: var(--white-color);
    transition: 0.3s ease-in;
}

.main__container-btn-a:nth-child(2):hover {
    background-color: var(--primary-color);
    color: var(--black-color);
    border: 2px solid var(--primary-color);
}

/* Responsive */
@media screen and (max-width: 768px) {
    .main__container-description {
        align-items: center;
    }
}

@media screen and (max-width: 576px) {
    .main__container-description h3 {
        font-size: 17px;
    }

    .main__container-description h2 {
        font-size: 40px;
    }

    .main__container-description p {
        text-align: center;
        font-size: 17px;
    }
}

@media screen and (max-width: 523.20px) {
    .main__container-description > h2 {
        font-weight: 600;
        font-size: 40px;
    }

    .main__container-description > p {
        max-width: 80%;
        font-size: 16px;
    }

    .main__container-btn-a {
        padding: 15px 20px;
    }
}
/* End Responsive */
/* End Part 1 */

/* Part 2 */
.main__container-part-2 {
    padding: 95px 0;
    display: flex;
    flex-direction: column;
    column-gap: 70px;
    background-color: var(--header-color);
}

.main__container-intro {
    display: flex;
    column-gap: 85px;
    margin-bottom: calc(75px + 75px);
}

.main__container-intro-img {
    width: 485px;
    height: 575px;
    flex: 1;
}

.main__container-intro-img > img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.main__container-intro-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1.2;
}

.main__container-intro-description h3 {
    font-size: 110%;
    color: #777777;
}

.main__container-intro-description h2 {
    font-size: 400%;
    margin-top: -15px;
    line-height: 110%;
}

.main__container-intro-app {
    display: flex;
    justify-content: space-between;
}

.main__container-intro-icon {
    background-color: var(--white-color);
    border-radius: 10px;
    flex-grow: 1;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 140px;
    position: relative;
    overflow: hidden;
}

.main__container-intro-icon-description {
    font-weight: 600;
    margin-top: 15px;
}

.main__container-intro-icon > i {
    font-size: 250%;
    display: block;
    color: var(--icon-color);
}

.main__container-intro-p {
    color: #959595;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
} 

.main__container-intro-description > a {
    width: fit-content;
    display: inline-block;
    padding: 20px 44px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--black-color);
    font-weight: 600;
    border-radius: 5px;
    transition: 0.3s ease-in;
}

.main__container-intro-description > a:hover {
    background-color: var(--white-color);
}

.main__container-app {
    background-color: var(--white-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    height: 361px;
}

.main__container-app-features {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-top: 50px;
    margin-left: 65px;
}

.main__container-app-features > h2 {
    font-size: 360%;
    margin-top: 15px;
}

.main__container-app-features > h3 {
    font-size: 110%;
    color: #777777;
}

.main__container-app-img {
    object-fit: cover;
    object-position: center;
    width: 325px;
    height: 425px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 65px;
    transform: translateY(-15%);
}

/* Responsive */
@media screen and (max-width: 1200px) {
    .main__container-intro-description h2 {
        font-size: 50px;
    }

    .main__container-app-features > h2 {
        font-size: 50px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 992px) {
    .main__container-intro {
        flex-direction: column;
        row-gap: 85px;
        margin-bottom: 80px;
    }
    
    .main__container-intro-img {
        width: 100%;
        height: auto;
    }

    .main__container-intro-description {
        row-gap: 30px;
    }

    .main__container-intro-app {
        column-gap: 25px;
        justify-content: unset;
    }

    .main__container-intro-icon {
        flex-grow: 0;
        margin: 0;
    }

    .main__container-intro-p {
        max-width: 80%;
    }

    .main__container-intro-description h2 {
        font-size: 50px;
    }

    .main__container-app {
        height: auto;
        flex-direction: column;
    }

    .main__container-app-img {
        transform: translateY(0%);
        margin: 0 auto;
        margin-top: 60px;
    }

    .main__container-app-features {
        max-width: 100%;
        margin: 50px 45px 0 45px;
    }

    .main__container-app-features h2 {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) {
    .main__container-intro-description {
        align-items: center;
    }

    .main__container-intro-description h2 {
        text-align: center;
        font-size: 60px;
        max-width: 405px;
    }

    .main__container-app-features {
        align-items: center;
    }

    .main__container-app-features h2 {
        margin-right: 0;
        text-align: center;
        font-size: 60px;
    }

    .main__container-app-img {
        margin-top: 45px;
        width: 400px;
        height: auto;
    }
}

@media screen and (max-width: 576px) {
    .main__container-intro-description h2 {
        font-size: 45px;
    }

    .main__container-intro-p {
        font-size: 17px;
        max-width: 90%;
    }

    .main__container-app-features h2 {
        font-size: 50px;
    }

    .main__container-app-img {
        width: 80%;
    }
}

@media screen and (max-width: 523.20px) {
    .main__container-intro-description h2 {
        font-size: 40px;
    }

    .main__container-intro-app {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main__container-intro-icon {
        margin-top: 15px;
    }
}
/* End Responsive */
/* End Part 2 */

/* Part 3 */
.main__container-part-3 {
    padding: 90px 0;
    background-color: var(--white-color);
}

.part-3-container-flex {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
}

.main__container-part-3 h3 {
    font-weight: 600;
    font-size: 160%;
}

.main__container-part-3 p {
    color: #777777;
    font-size: 110%;
    margin: 30px 0;
}

.main__container-goal {
    display: flex;
    column-gap: 130px;
}

.icon-bg {
    width: 40px;
    height: 40px;
    background-color: var(--header-color);
    border-radius: 50%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.main__container-goal > ul > li:nth-child(1) {
    margin-bottom: 20px;
}

.main__container-goal > ul > li > span {
    font-size: 17px;
    color: #777777;
}

/* Responsive */
@media screen and (max-width: 1200px) {
    .main__container-goal {
        column-gap: 80px;
    }
}

@media screen and (max-width: 992px) {
    .main__container-goal {
        flex-direction: column;
    }

    .main__container-goal > ul > li:nth-child(1) {
        margin-bottom: 15px;
    }

    .main__container-goal > ul:nth-child(2) {
        margin: 15px 0;
    }

    .main__container-part-3 p {
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .part-3-container-flex h3 {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .main__container-part-3 {
        padding: 85px 0;
    }
}

@media screen and (max-width: 523.20px) {
    .main__container-part-3 p {
        text-align: center;
    }
}
/* End Responsive */
/* End Part 3 */

/* Part 4 */
.main__container-part-4 {
    padding: 70px 0;
    background-color: var(--header-color);
}

.main__container-part-4 h2 {
    color: var(--text-color);
    text-align: center;
    font-size: 60px;
    margin-bottom: 70px;
}

.part-4-features {
    display: flex;
    justify-content: space-between;
}

.part-4-feature-item {
    border-radius: 10px;
    width: 350px;
    height: 365px;
    background-color: var(--white-color);
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    user-select: none;
}

.part-4-feature-item-img {
    width: 100%;
    height: 225px;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.part-4-feature-item-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.5s ease;
}

.part-4-feature-item-img > img:hover {
    transform: scale(1.1);
}

.part-4-feature-arrow-right {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 33px;
    top: 54%;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.part-4-feature-description {
    padding: 35px 0 35px 40px;
}

.part-4-feature-description > h3 {
    font-size: 24px;
}

.part-4-feature-description > span {
    display: inline-block;
    margin-bottom: 15px;
    color: #777777;
    font-size: 16px;
    font-weight: 600;
}

/* Responsive */
@media screen and (max-width: 1200px) {
    .part-4-feature-item {
        flex-basis: 31.5%;
    }
}

@media screen and (max-width: 992px) {
    .main__container-part-4 h2 {
        font-size: 50px;
    }

    .part-4-features {
        flex-wrap: wrap;
    }

    .part-4-feature-item {
        margin-bottom: 15px;
        flex-basis: unset;
    }

    .part-4-feature-item:nth-child(3) {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .part-4-feature-item {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 523.20px) {
    .main__container-part-4 h2 {
        font-size: 45px;
        margin-bottom: 30px;
    }
}
/* End Responsive */
/* End Part 4 */

/* Part 5 */
.main__container-part-5 {
    padding: 128px 0;
    background-color: #1B2026;
}

.part-5-container {
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 70px 80px;
    display: flex;
    justify-content: space-between;
}

.part-5-title {
    max-width: 60%;
}

.part-5-title > h4 {
    color: #777777;
}

.part-5-title > h1 {
    font-size: 60px;
    margin-top: 20px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.part-5-list {
    width: 39%;
}

.part-5-list > ul {
    display: flex;
    flex-direction: column;
}

.part-5-list-option {
    border-radius: 10px;
    border: 1px solid #EFEFEE;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    margin-top: 18px;
    color: #848684;
    cursor: pointer;
}

.part-5-option-fist-part {
    display: flex;
    align-items: center;
}

.part-5-option-fist-part > span {
    font-size: 17px;
    margin-left: 12px;
}

/* Responsive */
@media screen and (max-width: 1200px) {
    .part-5-title {
        max-width: 55%;
    }

    .part-5-title h1 {
        -webkit-line-clamp: unset;
        font-size: 50px;
    }
}

@media screen and (max-width: 992px) {
    .part-5-container {
        flex-direction: column;
        overflow: hidden;
    }

    .part-5-title {
        max-width: 100%;
    }

    .part-5-title h1 {
        font-size: 50px;
    }

    .part-5-list {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .part-5-title {
        text-align: center;
    }
}

@media screen and (max-width: 523.20px) {
    .part-5-title h1 {
        font-size: 40px;
    }

    .part-5-list-option {
        padding: 18px 28px;
        font-size: 19px;
    }

    .part-5-list-option span {
        font-size: 15px;
    }
}

@media screen and (max-width: 410px) {
    .part-5-list-option span {
        display: none;
    }
}
/* End Responsive */
/* End Part 5 */

/* Part 6 */
.main__container-part-6 {
    padding-top: 85px;
    background-color: var(--header-color);
}

.part-6-container-flex {
    display: flex;
    flex-direction: column;
}

.part-6-title {
    text-align: center;
}

.part-6-title > h4 {
    color: #777777;
    font-size: 17px;
    margin: 0;
}

.part-6-title > h1 {
    font-weight: 600;
    font-size: 60px;
    margin-top: 12px;
}

/* Part 6 Member */
.team-members {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.member {
    flex-basis: 22.9%;
    background-color: var(--white-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-ava-info {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-info {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 100%;
}

.member-info > h1 {
    margin: 0;
}

.member-info > span {
    margin: 0;
    color: #777777;
}

.member-ava {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.member-ava-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.member-position {
    display: block;
    text-align: center;
}

.member-contacts {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    width: 70%;
}

.member-contacts-social {
    background-color: var(--header-color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: var(--text-color);
}

.member-name {
    display: inline-block;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 26px;
    margin-bottom: 12px !important;
    color: #1B2026;
}
/* End Member */

/* Responsive */
@media screen and (max-width: 992px) {
    .part-6-title h1 {
        font-size: 45px;
    }

    .team-members {
        flex-wrap: wrap;
    }

    .member {
        flex-basis: 48%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 576px) {
    .member {
        flex-basis: 100%;
    }
}
/* End Responsive */


/* Introduction */
.part-6-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 145px;
}

.introduction-bg {
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

.introduction-bg > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.introduction {
    padding: 23px 46px;
    border-radius: 20px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    position: absolute;
    bottom: -10%;
}

.introduction span {
    color: #777777;
    font-size: 17px;
}

.introduction li {
    font-weight: 600;
    margin-top: 15px;
    font-size: 17px;
    color: #1B2026;
}

.introduction > a {
    padding: 20px 45px;
    color: var(--white-color);
    background-color: #1B2026;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s ease;
}

.introduction > a:hover {
    background-color: var(--black-color);
}

/* Responsive */
@media screen and (max-width: 992px) {
    .introduction {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .part-6-introduction .introduction {
        flex-direction: column;
        row-gap: 20px;
        bottom: -29%;
    }

    .introduction > ul {
        text-align: center;
    }

    .introduction ul li {
        margin-top: 5px;
    }

    .introduction > a {
        margin: 0 auto;
    }
}
/* End Responsive */
/* End Introduction */
/* End Part 6 */

/* Part 7 */
.main__container-part-7 {
    background-color: #31363B;
}

.part-7-container-flex {
    padding: 81px 0 110px 0;
    display: flex;
    flex-direction: column;
    row-gap: 55px;
}

.part-7-title {
    display: flex;
    flex-direction: column;
}

.part-7-title > span {
    color: #BBBBAF;
    font-weight: 600;
}

.part-7-title > strong {
    font-weight: 600;
    font-size: 60px;
    margin-top: 10px;
    color: var(--white-color);
}

.part-7-feedbacks {
    display: flex;
    justify-content: space-between;
}

.part-7-feedbacks-item {
    padding: 45px 40px;
    background-color: var(--white-color);
    border-radius: 10px;
    flex-basis: 31.5%;
    /* position: relative; */
}

.part-7-feedbacks-item > em {
    color: #777777;
    font-size: 24px;
    line-height: 30px;
    height: 150px;
    overflow: hidden;
    display: inline-block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.part-7-icon {
    display: flex;
    justify-content: flex-end;
}

.part-7-icon > i {
    font-size: 50px;
    color: #777777;
}

.feedbacks-user {
    display: flex;
    align-items: center;
}

.user-ava {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-ava img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.user-info {
    margin-left: 16px;
}

.user-name {
    font-size: 25px;
    display: inline-block;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-position {
    color: #777777;
}

/* Responsive */
@media screen and (max-width: 1200px) {
    .main__container-part-7 {
        padding: 85px 0;
    }

    .user-name {
        white-space: unset;
    }
}

@media screen and (max-width: 992px) {
    .part-7-feedbacks {
        flex-wrap: wrap;
    }

    .part-7-feedbacks-item {
        flex-basis: 48%;
    }

    .part-7-feedbacks-item:nth-child(3) {
        margin: 0 auto;
        margin-top: 15px;
    }

    .part-7-title > strong {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) {
    .main__container-part-7 {
        margin-top: 80px;
    }

    .part-7-container-flex {
        padding: 0;
    }

    .part-7-title > span {
        text-align: center;
    }

    .part-7-title > strong {
        font-size: 60px;
        text-align: center;
    }

    .user-ava {
        width: 50px;
        height: 50px;
    }

    .user-info {
        margin-left: 0;
        text-align: center;
        width: 70%;
    }
}

@media screen and (max-width: 576px) {
    .part-7-title > strong {
        font-size: 50px;
    }

    .part-7-feedbacks-item {
        flex-basis: 100%;
        padding: 30px;
    }

    .part-7-feedbacks-item > em {
        text-align: center;
        font-size: 20px;
        display: inline-block;
        display: -webkit-box;
        overflow: hidden;
        height: 90px;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    .part-7-feedbacks-item:nth-child(2) {
        margin-top: 15px;
    }

    .user-ava {
        width: 60px;
        height: 60px;
    }

    .user-info {
        width: fit-content;
        margin-left: 20px;
    }
}
/* End Responsive */
/* End Part 7 */

/* Part 8 */
.main__container-part-8 {
    background-color: var(--mint-color);
    padding: 82px 0 112px 0;
}

.part-8-title {
    margin: 0;
    font-weight: 600;
    font-size: 50px;
    color: #232323;
    text-align: center;
    margin-bottom: 58px;
}

.video-img {
    position: relative;
    display: grid;
}

.video-img > img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.video-img::after {
    content: "";
    position: absolute;
    align-self: center;
    justify-self: center;
    background-color: aliceblue;
    width: 130px;
    height: 130px;
    animation: PlayButton infinite 1.6s;
    border-radius: 50%;
}

.video-click {
    font-size: 40px;
    position: absolute;
    align-self: center;
    justify-self: center;
    background-color: aliceblue;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-click > i {
    transition: 0.3s ease-out;
    color: var(--text-color);
    z-index: 5;
}

.video-click i:hover {
    color: var(--primary-color);
}

/* Dialog */
.dialog {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.163);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.dialog:target {
    visibility: visible;
    opacity: 1;
} 

.dialog-main {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    right: 14%;
}

.dialog-main > iframe {
    aspect-ratio: 16/9;
    width: 1110px;
}

.dialog-close {
    color: rgb(34, 34, 34);
    font-size: 30px;
    position: absolute;
    right: 100px;
    background-color: #b3b1b13c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    top: 50px;
    border: 2px solid #e3e3e3;
    transition: 0.3s ease;
}

.dialog-close:hover {
    background-color: #ababab;
}

.black-overlay {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: default;
}

.dialog-close:active + .dialog-main {
    display: none;
}

/* End Dialog */

/* Responsive */
@media screen and (max-width: 1285.60px) {
    .dialog-main {
        right: 3%;
    }

    .dialog-close {
        left: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .video-img {
        width: 100%;
    }

    .dialog-main > iframe {
        width: 930px;
    }

    .dialog-close {
        right: 20px;
    }

    .dialog-main {
        right: 3%;
        top: 120px;
    }
}

@media screen and (max-width: 992px) {
    .video-img {
        width: 720px;
        height: 720px;
    }
}

@media screen and (max-width: 768px) {
    .video-img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 523.20px) {
    .part-8-title {
        font-size: 40px;
    }
}
/* End Responsive */
/* End Part 8 */

/* Part 9 */
.main__container-part-9 {
    padding: 92px 0 120px 0;
    background-color: var(--white-color);
}

.part-9-main {
    background-color: var(--mint-color);
    border-radius: 10px;
    padding: 95px 80px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.part-9-title {
    display: flex;
    flex-direction: column;
}

.part-9-title > span {
    display: inline-block;
    font-weight: 600;
    font-size: 17px;
    color: #777777;
    margin-bottom: 12px;
}

.part-9-title > b {
    font-size: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.part-9-input {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.part-9-input > input {
    display: inline-block;
    border-radius: 10px;
    flex: 1;
    border: none;
    padding: 18px 20px;
    outline: none;
}

.form > textarea {
    outline: none;
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 18px 20px;
    transition: 0.4s ease;
    resize: vertical;
    min-height: 200px;
}

.subscribe-btn {
    width: fit-content;
    padding: 17px 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--text-color);
    transition: 0.4s ease-in;
    color: var(--white-color);
    font-weight: 600;
    cursor: pointer;
    margin-left: auto;
    font-size: 17px;
}

.subscribe-btn:hover {
    background-color: var(--primary-color);
    color: var(--black-color);
}

/* Responsive */
@media screen and (max-width: 992px) {
    .form > textarea {
        min-height: 170px;
    }

    .part-9-input {
        flex-direction: column;
        row-gap: 17px;
    }
}

@media screen and (max-width: 768px) {
    .part-9-main {
        padding: 45px;
    }

    .part-9-title {
        align-items: center;
    }

    .part-9-title > b {
        text-align: center;
        font-size: 45px;
    }

    .subscribe-btn {
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    .part-9-main {
        padding: 45px 20px;
    }

    .part-9-title > b {
        font-size: 40px;
    }

    .main__container-part-9 {
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 523.20px) {
    .main__container-part-9 {
        padding: 50px 0;
    }
}
/* End Responsive */
/* End Part 9 */

/* Footer */
.footer {
    width: 100%;
}
.footer > iframe {
    width: 100%;
    height: 480px;
}
.footer-copyrights {
    background-color: #14191E;
    padding: 35px 0;
    text-align: center;
}
.footer-copyrights > span {
    color: white;
    font-size: 17px;
}
.footer-copyrights i {
    margin-right: 10px;
}

/* Responsive */
@media screen and (max-width: 576px) {
    .footer-copyrights span {
        font-size: 15px;
    }
}

@media screen and (max-width: 523.20px) {
    .footer-copyrights > span {
        font-size: 14px;
    }
}
/* End Responsive */
/* End Footer */